[defaults]
inventory = hosts
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = False
display_skipped_hosts = False
nocows = True
inject_facts_as_vars = False
localhost_warning = False
deprecation_warnings = True
ansible_python_interpreter= /usr/local/bin/python3.12

[privilege_escalation]
become = True
become_method = su
become_ask_pass = False
