#!/bin/sh
# BEGIN ANSIBLE MANAGED FILE: ansible-pull
# Placeholder only. Do not execute until implemented.
#
# ansible-pull -U "{{ ansible_pull_repository_url }}" #   -i hosts "{{ ansible_pull_playbook }}"
# END ANSIBLE MANAGED FILE: ansible-pull
