# BEGIN ANSIBLE MANAGED FILE: picom/picom.conf
backend = "xrender";
vsync = true;
shadow = true;
fading = true;
inactive-opacity = 0.95;
active-opacity = 1.0;
# END ANSIBLE MANAGED FILE: picom/picom.conf
